<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora Posts</h1>
    <% for (post of posts) {%>
        <div class="post">
            <h3 class="user">@<%= post.username %> </h3>
            <h4 class="content"><%= post.content %></h4>
            <div><%=post.img%></div>
            <p><%=post.caption%></p>
            <br>
            <!-- <a href="http://localhost:8080/posts/<%=post.id%>/add-img">Add image</a><br> -->
            <a href="http://localhost:8080/posts/<%=post.id%>">Show in details</a>
            <a href="http://localhost:8080/posts/<%=post.id%>/edit">Edit</a>
            <form method="POST" action="/posts/<%=post.id%>?_method=DELETE">
                <button>Delete Post</button>
            </form>
           
        </div>
    <%}%>

    <br>
    <br>
    <a href="http://localhost:8080/posts/new">Create New Post</a>
    <form method="post" action="/posts" >
        <input name="image" type="file"> <br><br>
        <textarea name="caption" id="" cols="30" rows="10" placeholder="Write caption here"></textarea>
        <button type="submit">Post</button>
    </form>
</body>
</html>